<script th:inline="javascript">
$("#ip_showeditbt").click(function(event){
	event.preventDefault();
	var pid=$("#ip_showpid").val();
	url="/injectionPlan/showupdate";
	$.ajax({
		url:url,
		data:{pid:pid},
		success:function(res){
			$("#loadtable").html(res);
        	$("#exampleModal").show();
		},
		error:function(res){
			console.log('ERROR '+res);
		}
	});
});
</script>
<style>
*:focus {
    outline: none;
}
</style>

<div class="row">
	<div class="col-lg-12" style="overflow-x: auto; overflow-y: auto;">
		<form id="ip_showmainform">
			<table id="ip_showexample" class="table table-hover table-bordered">
				<tr>
					<th>Step</th>
					<th>Fluid
						Type</th>
					<th>Stage
						Type</th>
					<th>Rate<br>(BPM)</th>
					<th>Clean Volume<br>(BBL)</th>
					<th>Slurry Vol.<br>(BBL)</th>
					<th>Cum Slurry Vol.<br>(BBL)</th>
					<th>Begin Prop Conc.<br>(PPG)</th>
					<th>End Prop  Conc.<br>(PPG)</th>
					<th>Stage Prop<br>(LBS)</th>
					<th>Cumulative Prop<br>(LBS)</th>
					<th>Step Time</th>
					<th>Elapsed Time</th>
				</tr>

				<tr th:each="list:${list}" th:if="${list}!=null">
					<td th:text="${list.step}"></td>
					<td th:text="${list.fluidtype}"></td>
					<td th:text="${list.stagetype}"></td>
					<td th:text="${list.rate}"></td>
					<td th:text="${list.cleanvol}"></td>
					<td th:text="${list.slurryvol}"></td>
					<td th:text="${list.cumslurry}"></td>
					<td th:text="${list.begprop}"></td>
					<td th:text="${list.endprop}"></td>
					<td th:text="${list.stageprop}"></td>
					<td th:text="${list.cumprop}"></td>
					<td th:text="${list.steptime}"></td>
					<td th:text="${list.cumStepTime}"></td>
				</tr>
			<input id="ip_showpid" th:name="ip_imppid"
						type="text" hidden="true" th:value=${pid}>
			</table>
		</form>
	</div>
</div>
                <br>
                <center>
            <input type="button" id="ip_showeditbt" value="Edit" class="btn btn-primary" style="width:10%"></input>
            </center>